<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/icons/favicon.ico">
    <title>Media Player</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../public/fetch.js" type="text/javascript"></script>
</head> 
<body>
    <div class="topnav" id="myTopnav">
        <button class="active" onclick="PlayFullScreen()">Play Full Screen</button>
        <button id="upload-btn" onclick="uploadMedia()">Upload Media</button>
        <input type="file" id="file-input" style="display: none;" accept="image/*, video/*" multiple>
        <button class="hover-trigger">About</button>
        <a href="#" class="icon" onclick="displayResponsiveNavBarMobile()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="container">
        <div class="main-video-container" id="mediaMainDiv">
            <!-- automatic fill -->
        </div>
    <div class="video-list-container">
        <!-- automatic fill -->
    </div>

    <div class="main-video-container">
        <label>Media Element Title</label><br><input type="text" id="titleEntry"><br>
        <label>Play Order</label><br><input type="number" step="1" id="orderEntry"><br>
        <label>Play Time</label><br><input type="number" step="1" id="timeEntry"><br>
        <div class="custom-btn">
            <button type="button" onclick="saveChangesOnJSON()">Save changes</button>
            <button type="button" class="delete-btn" onclick="deleteMedia()" >Delete media</button>
        </div>
    </div>
</body>
<!-- custom js file link  -->
<script src="../public/js/script.js" type="text/javascript" ></script>
</html>